.notebook {
  display: inline-block;
  width: 100%;
  padding: 10px; }
  .notebook .fade-enter-active, .notebook .fade-leave-active {
    transition: opacity 0.25s; }
  .notebook .fade-enter, .notebook .fade-leave-to {
    opacity: 0; }
  .notebook .cell {
    display: inline-block;
    width: 100%; }
    .notebook .cell .smart-ac li {
      border-radius: 3px;
      font-size: 17px !important;
      background: #F4FB87;
      border: 2px solid #4D6464;
      color: #4D6464;
      font-weight: bold;
      padding: 3px;
      margin-left: 4px;
      cursor: pointer;
      display: block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .notebook .cell .smart-ac li:hover {
      background: #eefa45; }
    .notebook .cell [contenteditable] {
      outline: 0px solid transparent; }
    .notebook .cell .caption {
      display: inline-block;
      color: white;
      padding: 3px 6px;
      float: left;
      border: 2px solid #9AC9C9;
      background: #9AC9C9;
      border-radius: 3px 3px 0 0; }
      .notebook .cell .caption ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .notebook .cell .caption ul li {
          font-size: 18px;
          padding-right: 5px;
          display: inline-block;
          padding-left: 5px; }
        .notebook .cell .caption ul li.title {
          padding-left: 0;
          font-weight: bold; }
        .notebook .cell .caption ul li.run-cell {
          cursor: pointer;
          color: #049A70; }
        .notebook .cell .caption ul li.run-visibility {
          cursor: pointer;
          color: #485865; }
        .notebook .cell .caption ul li.run-settings {
          color: #323D46;
          cursor: pointer; }
        .notebook .cell .caption ul li.stop-cell {
          color: red;
          cursor: pointer; }
    .notebook .cell .input {
      padding: 10px;
      float: left;
      border: 2px solid #9AC9C9;
      font-weight: bold;
      display: block;
      min-width: 100%;
      border-radius: 0 3px 0 0;
      resize: none;
      height: auto;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
    .notebook .cell .input-wrapper {
      position: "relative"; }
    .notebook .cell .input-suggest-results {
      cursor: "pointer";
      position: "absolute";
      opacity: ".4";
      top: 0;
      left: 0; }
    .notebook .cell .output {
      float: left;
      padding: 10px;
      background-color: #4D6464;
      display: block;
      width: 100%;
      color: white;
      border-radius: 0 0 3px 3px;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      white-space: pre-line; }
    .notebook .cell .cell_container_error {
      background-color: #DD546E; }

/*# sourceMappingURL=notebook.css.map */
